In [1]:
import pandas as pd

In [2]:
# could be e2e_counts.tsv or local_counts.tsv
viral_counts=pd.read_csv("e2e_counts.tsv",sep="\t",index_col=["accession"])

In [3]:
viral_counts

,description,QM100,QM101,QM102,QM103,QM104,QM105,QM106,QM107,QM108,...,QM90,QM91,QM92,QM93,QM94,QM95,QM96,QM98,QM99,QM9
accession,,,,,,,,,,,,,,,,,,,,,
AC_000001.1,"Ovine adenovirus A, complete genome",0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
AC_000002.1,"Bovine adenovirus B, complete genome",0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,2,0
AC_000003.1,"Canine adenovirus 1, complete genome",0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
AC_000004.1,"Duck adenovirus A, complete genome",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
AC_000005.1,"Human mastadenovirus A, complete genome",0,0,0,2,1,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NC_055918.1,"Mycobacterium phage OhShagHennessy, complete g...",1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NC_055919.1,"Klebsiella phage vB KpnP P184, complete genome",0,0,0,0,0,0,1,0,0,...,0,0,2,0,0,0,1,2,0,0
NC_055920.1,"Gordonia phage Phlop, complete genome",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NC_055921.1,"Salmonella phage vB SalP TR2, complete genome",0,0,0,3,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
NC_056724.1,Lactococcus lactis phage BK5-T complete genome,2,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0

In [4]:
sv40=viral_counts.loc[["NC_001669.1"]]

In [5]:
sv40

,description,QM100,QM101,QM102,QM103,QM104,QM105,QM106,QM107,QM108,...,QM90,QM91,QM92,QM93,QM94,QM95,QM96,QM98,QM99,QM9
accession,,,,,,,,,,,,,,,,,,,,,
NC_001669.1,Simian virus 40 complete genome,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [6]:
sv40=sv40.drop(["description"],axis='columns').T

In [7]:
threshold=32

In [8]:
sv40_pos=sv40[sv40['NC_001669.1']>=threshold].index.array

In [9]:
sv40_pos

<PandasArray>
['QM116', 'QM117', 'QM152', 'QM173', 'QM287', 'QM289', 'QM298', 'QM299',
 'QM308', 'QM311', 'QM331', 'QM335', 'QM336', 'QM337', 'QM361', 'QM365',
 'QM366', 'QM368', 'QM370', 'QM378', 'QM381', 'QM384', 'QM390', 'QM395',
 'QM396', 'QM397',  'QM39', 'QM401', 'QM403', 'QM405', 'QM406',  'QM40',
 'QM410', 'QM411',  'QM42',  'QM46',  'QM72']
Length: 37, dtype: object

# note that this is different from the list provided

In [10]:
sv40_neg=sv40[sv40['NC_001669.1']<threshold].index.array

In [11]:
sv40_neg

<PandasArray>
['QM100', 'QM101', 'QM102', 'QM103', 'QM104', 'QM105', 'QM106', 'QM107',
 'QM108', 'QM109',
 ...
  'QM90',  'QM91',  'QM92',  'QM93',  'QM94',  'QM95',  'QM96',  'QM98',
  'QM99',   'QM9']
Length: 265, dtype: object

In [12]:
# could be QM.TP53.GAPDH.exon.tsv or QM.TP53.GAPDH.transcript.tsv
feature_counts=pd.read_csv("QM.TP53.GAPDH.exon.tsv",sep="\t",header=1,index_col=["Geneid"])

In [13]:
feature_counts

,Chr,Start,End,Strand,Length,QM100,QM101,QM102,QM103,QM104,...,QM90,QM91,QM92,QM93,QM94,QM95,QM96,QM98,QM99,QM9
Geneid,,,,,,,,,,,,,,,,,,,,,
GAPDH,chr12;chr12;chr12;chr12;chr12;chr12;chr12;chr1...,6534512;6534517;6534532;6534533;6534534;653454...,6534569;6534569;6534569;6534569;6534661;653456...,+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;...,2396,277682,200142,299528,220381,411470,...,383645,406218,410588,409558,207181,345564,338121,316419,374597,233815
TP53,chr17;chr17;chr17;chr17;chr17;chr17;chr17;chr1...,7661779;7665416;7666086;7666902;7668402;766840...,7662014;7665531;7666244;7667425;7669690;766969...,-;-;-;-;-;-;-;-;-;-;-;-;-;-;-;-;-;-;-;-;-;-;-;...,5676,9696,7933,14250,7923,7321,...,10545,10462,7799,8402,8315,8296,8559,3105,7211,8059

# note that neither of these are normalized

In [14]:
feature_counts.drop(["Chr","Start","End","Strand","Length"],axis='columns',inplace=True)

In [15]:
feature_counts

,QM100,QM101,QM102,QM103,QM104,QM105,QM106,QM107,QM108,QM109,...,QM90,QM91,QM92,QM93,QM94,QM95,QM96,QM98,QM99,QM9
Geneid,,,,,,,,,,,,,,,,,,,,,
GAPDH,277682,200142,299528,220381,411470,252836,376088,297193,441518,404080,...,383645,406218,410588,409558,207181,345564,338121,316419,374597,233815
TP53,9696,7933,14250,7923,7321,5155,10188,5428,6190,7654,...,10545,10462,7799,8402,8315,8296,8559,3105,7211,8059

In [16]:
sv40_neg_feature_counts=feature_counts[sv40_neg]

In [17]:
sv40_neg_feature_counts

,QM100,QM101,QM102,QM103,QM104,QM105,QM106,QM107,QM108,QM109,...,QM90,QM91,QM92,QM93,QM94,QM95,QM96,QM98,QM99,QM9
Geneid,,,,,,,,,,,,,,,,,,,,,
GAPDH,277682,200142,299528,220381,411470,252836,376088,297193,441518,404080,...,383645,406218,410588,409558,207181,345564,338121,316419,374597,233815
TP53,9696,7933,14250,7923,7321,5155,10188,5428,6190,7654,...,10545,10462,7799,8402,8315,8296,8559,3105,7211,8059

In [18]:
sv40_pos_feature_counts=feature_counts[sv40_pos]

In [19]:
sv40_pos_feature_counts

,QM116,QM117,QM152,QM173,QM287,QM289,QM298,QM299,QM308,QM311,...,QM401,QM403,QM405,QM406,QM40,QM410,QM411,QM42,QM46,QM72
Geneid,,,,,,,,,,,,,,,,,,,,,
GAPDH,396265,300894,336959,394723,374712,493442,659630,800548,191010,278400,...,315565,737399,436814,369438,299221,464336,671547,251840,320744,551437
TP53,4039,4936,9053,10084,7407,9715,9602,6391,3379,4929,...,8309,9550,10793,7718,16141,3680,7349,14173,9472,7174

In [20]:
from scipy.stats import ttest_ind

In [21]:
sv40_pos_feature_counts.loc['GAPDH'].values

array([396265, 300894, 336959, 394723, 374712, 493442, 659630, 800548,
       191010, 278400, 239668, 338678, 397288, 144342, 378353, 390073,
       383160, 266888, 503355, 472447, 346169, 309911, 381092, 300569,
       316446, 430411, 769987, 315565, 737399, 436814, 369438, 299221,
       464336, 671547, 251840, 320744, 551437])

In [22]:
sv40_neg_feature_counts.loc['GAPDH'].values

array([ 277682,  200142,  299528,  220381,  411470,  252836,  376088,
        297193,  441518,  404080,  208090,  660659,  306645,  365937,
        205186,  338757,  267665,  201953,  402510,  472023,  326079,
        471678,  727236,  346579,  594129,  335956,  203231,  346671,
        205914,  277066,  681291,  292373,  530430,  233760,  284048,
        736850,  225875,  500425,  534194,  299761,  222925,  558514,
        544694,  505711,  378633,  436614,  369450,  327099,  462713,
        356426,  316469,  464988,  666998,  325004, 1019528,  366806,
        890218,  613042,  359030,  351019,  292417,  306373,  422965,
        295174,  605267,  516543,  313129,   91815,  331509,  346684,
        507620,  367387,  264156,  713324,  359587,  364362,  293924,
        839584,  234022,  413602,  548547,  773987,  345212,  445832,
        386866,  430284,  430532,  310472,  347115,  423118,  590083,
        189084,  328795,  137595,  381876,  580864,  400757,  904507,
        650626,  515767,  573170,  190629,  398270,  281331,  208088,
        261383,  356160,  432925,  655579,  397037,  200773,  451342,
        262309,  239116,  585730,  325787,  427778,  248741,  636435,
        541803,  468105,  349538,  298770,  225549,  125556,  349773,
        694199,  447987,  337923,  197872,  208213,  389415,  357524,
        411973,  316526,  207717,  274128,  322765,  327031,  668972,
        312982,  194103,  273398,  309597,  298466,  309330,  281623,
        546912,  373640,  306439,  524660,  753586,  331802,  295537,
        504901,  321287,  305608,  286116,  308599,  430690,  177479,
        198202,  418693,  461765,  317511,  323423,  111062,  256457,
        294705,  293043,  495114,  266512,  228420,  213383,  364902,
        348750,  232752,  332309,  572754,  248523,  683226,  312561,
        397614,  457407,  245250,  305058,  317793,  404788,  490318,
        276374,  327488,  208692,  251051,  259387,  353412,  186631,
        278341,  367680,  366706,  260808,  623164,  370671,  361532,
        255066,  190198,  261370,  336457,  324312,  493910,  330071,
        308689,  189265,  221392,  292562,  516378,  293160,  532989,
        120126,  379590,   88023,  707465,  291011,  290535,  197514,
        336811,  312068,  271179,  607419,  672394,  444244,  367905,
        493458,  512485,  686431,  667484,  195808,  255759,  214195,
        438586,  435240,  252505,  160496,  202700,  429832,  145716,
        245097,  340647,  369512,  452810,  341228,  343224,  269091,
        463996,  360045,  265146,  383645,  406218,  410588,  409558,
        207181,  345564,  338121,  316419,  374597,  233815])

In [23]:
t_stat, p_value = ttest_ind(
    sv40_pos_feature_counts.loc['GAPDH'].values, 
    sv40_neg_feature_counts.loc['GAPDH'].values)

In [24]:
t_stat, p_value

(1.179750384355204, 0.23903417852648795)

In [25]:
t_stat, p_value = ttest_ind(
    sv40_pos_feature_counts.loc['TP53'].values, 
    sv40_neg_feature_counts.loc['TP53'].values)

In [26]:
t_stat, p_value

(-0.8728508185007419, 0.38344247978598134)