In [1]:
import pandas as pd
pd.__version__

'1.3.4'

In [2]:
import matplotlib
matplotlib.__version__

'3.4.2'

In [3]:
import matplotlib.pyplot as plt

In [4]:
# Adjust plot size
#options(repr.plot.width=16, repr.plot.height=6)

# For some reason, if this is in the same cell as the import command, it doesn't work.
#plt.rcParams["figure.figsize"] = [18.0,8.0]

In [5]:
import seaborn as sns
sns.__version__

'0.11.2'

In [6]:
default_max_rows=pd.get_option('display.max_rows')
pd.set_option('display.max_rows',1000)

In [7]:
df = pd.read_csv('feature_counts.5.cutadapt2.Retroposon.tsv',sep="\t",header=1)

df.set_index('Geneid',inplace=True)
df.drop(['Chr','Start','End','Strand','Length'],axis='columns',inplace=True)
df.drop(['SFHH005ag','SFHH005k'],inplace=True,axis='columns')

cats=df.sum(axis='columns').to_frame()
del(df)
cats.rename(columns={0: "CATS"},inplace=True)
#cats['library']='CATS'
cats.head()

         CATS
Geneid
SVA_D   19970
SVA_F    6840
SVA_B    6752
SVA_E    3278
SVA_C    4740

In [8]:
df = pd.read_csv('feature_counts.6.cutadapt2.Retroposon.tsv',sep="\t",header=1)

df.set_index('Geneid',inplace=True)
df.drop(['Chr','Start','End','Strand','Length'],axis='columns',inplace=True)
df.drop(['SFHH006ag','SFHH006k'],inplace=True,axis='columns')

lex=df.sum(axis='columns').to_frame()
del(df)
lex.rename(columns={0: "Lexogen"},inplace=True)
#lex['library']='Lexogen'
lex.head()

        Lexogen
Geneid
SVA_D       143
SVA_F        38
SVA_B       112
SVA_E       213
SVA_C       146

control

SFHH005k | SFHH005ag | SFHH006k | SFHH006ag

In [9]:
df=pd.concat([cats,lex],axis='columns')
df

         CATS  Lexogen
Geneid
SVA_D   19970      143
SVA_F    6840       38
SVA_B    6752      112
SVA_E    3278      213
SVA_C    4740      146
SVA_A    5015       41

In [10]:
df['sum']=df.sum(axis='columns')
df

         CATS  Lexogen    sum
Geneid
SVA_D   19970      143  20113
SVA_F    6840       38   6878
SVA_B    6752      112   6864
SVA_E    3278      213   3491
SVA_C    4740      146   4886
SVA_A    5015       41   5056

In [11]:
df.dtypes

CATS       int64
Lexogen    int64
sum        int64
dtype: object

In [12]:
df=df[df['sum']>0]
df.head(1000)

         CATS  Lexogen    sum
Geneid
SVA_D   19970      143  20113
SVA_F    6840       38   6878
SVA_B    6752      112   6864
SVA_E    3278      213   3491
SVA_C    4740      146   4886
SVA_A    5015       41   5056

In [13]:
df.shape

(6, 3)